{% extends "layout.html" %} {% block title %}
<title>Home Page</title>
{% endblock %}  {% block page_content %}
<div class="welcome-text">
	<h1 class="text-center">Welcome to the Dungeon Master Toolkit!</h1>
	<div style="border-bottom: 2px solid #565656">
		<p class="text-center lead">
		Welcome to the Ultimate DM Toolkit, your one-stop destination for all your
		Dungeons and Dragons campaign needs! As a dedicated Dungeon Master, you know
		how essential it is to keep your players immersed and engaged in the magical
		world you've created. That's where our suite of powerful tools comes in,
		designed to make your life easier and your sessions unforgettable.
	</div>
	</p>

	<p>
		Our toolkit is equipped with five game-changing modules: Character Creator,
		NPC Generator, Market Generator, Dice Roller, and Notes. Each module
		has been carefully crafted to streamline your DMing experience, giving you
		more time to focus on what really matters - storytelling and player
		engagement.
	</p>
	<p>
		Imagine a world where creating memorable characters, intriguing NPCs,
		bustling markets, and epic quests is just a few clicks away. Our intuitive
		interface and user-friendly design put the power of world-building right at
		your fingertips. Say goodbye to hours of preparation and hello to more time
		weaving immersive tales that will captivate your players.
	</p>
	<p>
		Never worry about losing a crucial die in the heat of the moment again,
		thanks to our Dice Roller module. It's your trusty companion, providing
		quick and fair results in any situation. Plus, with the Notes module, you
		can effortlessly keep track of all your ideas, plotlines, and session
		details in one organized place.
	</p>
	<p>
		Whether you're a seasoned Dungeon Master or just starting your journey, our
		DM Toolkit is the essential resource that will help you bring your campaigns
		to life. Unlock the full potential of your storytelling, and let your
		imagination soar. It's time to create unforgettable adventures that your
		players will talk about for years to come. Join us now, and let the Ultimate
		DM Toolkit become your secret weapon for mastering the art of Dungeons and
		Dragons!
	</p>
	<p class="lead">
		To get started, please click one of the above tabs and start creating!
	</p>
</div>
{% endblock %}
