{% extends "layout.html" %} {% block title %}
<title>Notes</title>
{%endblock %} {% block page_content %}

<h1 align="center">Notes</h1>
<ul
	class="list-group list-group-flush"
	id="notes"
>
	{% for note in user.notes %}
	<li class="list-group-item">
		<button
			type="button"
			class="close btn"
			onClick="deleteNote({{ note.id }})"
		>
			<i class="bi bi-x-circle-fill"></i>
		</button>
		{{ note.data }}
	</li>
	{% endfor %}
</ul>
<form method="POST">
	<textarea
		name="note"
		id="note"
		class="form-control"
	></textarea>
	<br />
	<div align="center">
		<button
			type="submit"
			class="btn btn-primary"
		>
			Add Note
		</button>
	</div>
</form>

{% endblock %}
