{% extends "layout.html" %} {% block title %}
<title>Quests</title>
{%endblock %} {% block page_content %}

<h1 align="center">Quests</h1>
<ul
	class="list-group list-group-flush"
	id="quests"
>
	{% for quest in user.quests %}
	<li class="list-group-item">
		<button
			type="button"
			class="close btn"
			onClick="deleteQuest({{ quest.id }})"
		>
			<i class="bi bi-x-circle-fill"></i>
		</button>
		{{ quest.data }} {{ quest.is_active }} {{ quest.players_told }}
		{{quest.is_complete}}
	</li>
	{% endfor %}
</ul>
<form method="POST">
	<textarea
		name="quest"
		id="quest"
		class="form-control"
	></textarea>
	<br />
	<div align="center">
		<button
			type="submit"
			class="btn btn-primary"
		>
			Add Quest
		</button>
	</div>
</form>

{% endblock %}
