<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Reference Document</title>
		<link
			href="{{ url_for('static', filename='styles.css') }}"
			rel="stylesheet"
			type="text/css"
		/>
		<style>
			#grain {
				color: #d7cec7;
			}
			#blackboard {
				color: #565656;
			}
			#oxblood {
				color: #76323f;
			}
			#tan {
				color: #c09f80;
			}
			.ref {
				background-color: darkgray;
			}
		</style>
	</head>
	<body>
		<h1>H1 The quick brown fox jumps over the lazy dog</h1>
		<h2>H2 The quick brown fox jumps over the lazy dog</h2>
		<h3>H3 The quick brown fox jumps over the lazy dog</h3>
		<h4>H4 The quick brown fox jumps over the lazy dog</h4>
		<h5>H5 The quick brown fox jumps over the lazy dog</h5>
		<h6>H6 The quick brown fox jumps over the lazy dog</h6>
		<p>p The quick brown fox jumps over the lazy dog</p>
		<div class="ref">
			<p id="grain">#D7CEC7</p>
			<p id="blackboard">#565656</p>
			<p id="oxblood">#76323F</p>
			<p id="tan">#C09F80</p>
		</div>
	</body>
</html>
